.sidebar_container {
  width: 230px;
  background: #fff;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  white-space: nowrap;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .sidebar_contents {
    display: grid;
    gap: 30px;
    place-content: center;
    padding: 14vh 5em;

    p,
    a {
      text-decoration: none;
      font-weight: 500;
      font-size: 15px;
      line-height: 27px;
      color: #646464;
      width: 100%;
      padding: 0.5em 5em;
      display: flex;
      align-items: center;
      gap: 10px;

      &:hover {
        background: #f6f6f6;
        border-radius: 12px;
      }
    }

    .sidebar_logout {
      margin-top: 30vh;

      p {
        color: red;
      }
    }
  }
}
